<footer>
 <div class="f-info">
    <div class="f-into-socials">
        <div class="language">
            <i class="fa-solid fa-globe"></i>
            Enlish(IN)
        </div>
        <div class="currency">
            &#8377;
            INR
        </div>
        <div class="socials-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
    </div>
    <div class="f-name">© 2025 AirHoster</div>
    <div class="f-info-links">
        <ul>
            <li> <a href="/privacy ">Privacy</a> </li>
            <li> <a href="/terms">terms</a> </li>
            <li> <a href="">github</a> </li>
            <li> <a href="">developer</a></li>
        </ul>
    </div>
 </div>
</footer>