<% layout('./layouts/boilerplate') %>
<body>
    <h3>Create new Listing</h3>
    <form action="/listings/new" method="post">
        <input type="text" name="title" id="title" placeholder="Enter Title">
        <br> 
        <br>
        <textarea name="description" id="description"  placeholder="Enter description"></textarea>
        <br> 
        <br>
        <input type="text" name="imgLink" placeholder="Enter the valid link of the URL">
        <br> 
        <br>
        <input  type="number" name="price" id="price" placeholder="Enter You price here">
        <br> 
        <br>
        <input type="text" name="location" id="location" placeholder="Enter You Location" >
        <br>
        <input type="text" name="country" id="country" placeholder="Enter You country" >

        <input type="submit" value="submit">
    </form>
</body>
